<!DOCTYPE html>
<html lang="en">
<head id="headapp">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Hebert VC | SPA</title>
    <link rel="stylesheet" v-bind:href="uno">
    <link rel="stylesheet" v-bind:href="dos">
</head>
<body>
    <div class="preloader" id="preloader">
      <div id="contenedor_carga">
        <div>
          <div id="cargapreloader"></div>
           cargando SPA
        </div>
      </div>
    </div>

    <div class="containerall" id="apphebert">
        <div class="header"
             v-bind:class="{'headersobremi':cambiarcontenido=='nsobremi',
                            'headerhabilidades':cambiarcontenido=='nhabilidad',
                            'headerportafolio':cambiarcontenido=='nportafolio',
             }">

            <div class="containerinfohebert">
                <div class="containerimghebert">
                    <img class="imghebertprofile" src="img/hebert.jpg">
                </div>
                <h1 class="titlehebert"
                    v-bind:class="{'titlesobremi':cambiarcontenido=='nsobremi',
                                   'titlehabilidades':cambiarcontenido=='nhabilidad',
                                   'titleportafolio':cambiarcontenido=='nportafolio',
                    }">
                Hebert Villafuerte
                </h1>
                <div>
                <span class="icon-menu iconmenu" v-if="changeicon=='icon-menu'"
                      v-on:click="remover='entrar',changeicon='icon-cross'"
                ></span>
                <span class="icon-cross iconmenu" v-if="changeicon=='icon-cross'"
                      v-on:click="remover='salir',changeicon='icon-menu'"
                ></span>
                </div>
            </div>
            <div class="menu" v-bind:class="{'menuremover':remover=='entrar',
                                             'menuquitar':remover=='salir',
                                             'headersobremi':cambiarcontenido=='nsobremi',
                                             'headerhabilidades':cambiarcontenido=='nhabilidad',
                                             'headerportafolio':cambiarcontenido=='nportafolio',
            }">
                <ul class="containerlistas">
                    <li
                        class="listamenu"
                        v-on:click="remover='salir',changeicon='icon-menu',cambiarcontenido='nportada'"
                        v-bind:class="{'optionssobremi':cambiarcontenido=='nsobremi',
                                       'optionshabilidades':cambiarcontenido=='nhabilidad',
                                       'optionsportafolio':cambiarcontenido=='nportafolio',
                                       'menuactive':cambiarcontenido=='nportada',
                        }"
                    >
                        Portada
                    </li>
                    <li
                        class="listamenu"
                        v-on:click="remover='salir',changeicon='icon-menu',cambiarcontenido='nsobremi'"
                        v-bind:class="{'optionssobremi':cambiarcontenido=='nsobremi',
                                       'optionshabilidades':cambiarcontenido=='nhabilidad',
                                       'optionsportafolio':cambiarcontenido=='nportafolio',
                                       'menuactive':cambiarcontenido=='nsobremi',
                        }"
                    >
                        Sobre mi
                    </li>
                    <li
                        class="listamenu"
                        v-on:click="remover='salir',changeicon='icon-menu',cambiarcontenido='nhabilidad'"
                        v-bind:class="{'optionssobremi':cambiarcontenido=='nsobremi',
                                       'optionshabilidades':cambiarcontenido=='nhabilidad',
                                       'optionsportafolio':cambiarcontenido=='nportafolio',
                                       'menuactive':cambiarcontenido=='nhabilidad',
                        }"
                    >
                        Habilidades
                    </li>
                    <li
                        class="listamenu"
                        v-on:click="remover='salir',changeicon='icon-menu',cambiarcontenido='nportafolio'"
                        v-bind:class="{'optionssobremi':cambiarcontenido=='nsobremi',
                                       'optionshabilidades':cambiarcontenido=='nhabilidad',
                                       'optionsportafolio':cambiarcontenido=='nportafolio',
                                       'menuactive':cambiarcontenido=='nportafolio',
                        }"
                    >
                        Portafolio
                    </li>
                    <li
                        class="listamenu"
                        v-on:click="remover='salir',changeicon='icon-menu',cambiarcontenido='nblog'"
                        v-bind:class="{'optionssobremi':cambiarcontenido=='nsobremi',
                                       'optionshabilidades':cambiarcontenido=='nhabilidad',
                                       'optionsportafolio':cambiarcontenido=='nportafolio',
                                       'menuactive':cambiarcontenido=='nblog',
                        }"
                    >
                        Blog
                    </li>
                    <div class="redessociales">
                        <a href="https://www.facebook.com/hebertVillafuerteC" class="icon-facebook2 linksociales" target="_blank"></a>
                        <a href="https://twitter.com/Hebert_LVC" class="icon-twitter linksociales" target="_blank"></a>
                        <a href="https://github.com/HebertVillafuerte" class="icon-github linksociales" target="_blank"></a>
                        <a href="https://www.instagram.com/hebertdev/" class="icon-instagram linksociales" target="_blank"></a>
                        <a href="https://www.linkedin.com/in/hebert-villafuerte-b9818411b/" class="icon-linkedin linksociales" target="_blank"></a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="containerheader">
        </div>

        <div class="contenido">
            <!--contenido de portada-->
            <div class="nportada containercontenido" v-if="cambiarcontenido=='nportada'" >
              <div class="bannerportaada">
                  <div class="banercolorportada">
                      <div class="storbo"></div>
                      <div class="divsaludoportada">
                        <ul class="ultxtsaludoportada">
                          <li class="txtsaludoportada">{{saludoportada}}</li>
                          <li class="txtsaludoportada">{{saludoportadados}}</li>
                        </ul>

                        <div class="conttxtportada">

                        </div>

                      </div>

                  </div>
              </div>
              <div class="contenidopostionbanner"></div>

            </div>

            <!--contenido de sobre mi-->
            <div class="nsobremi containercontenido" v-if="cambiarcontenido=='nsobremi'">
                <div class="bannersobremi">
                    <div class="banercolorsobremi">
                        <div class="storbo"></div>
                        <p class="txtsaludo">{{hellowrold}}</p>
                    </div>
                </div>
                <div class="contenidopostionbanner"></div>
                <div class="containerimgandtxt">
                    <div class="contenidobannerprofile">
                        <img class="imgprofilesobremi" src="img/perfil.jpg"
                             v-on:click="modalactive='enablemodal', imagemodal='img/perfil.jpg'">
                    </div>
                    <div class="conttxtsobremi"><p class="txtsobremi">Mi nombre es Hebert Villafuerte soy desarrollador web
                    Frontend autodidacta , tambien soy diseñador gráfico
                     <!-- y actualmenteestoy siguiendo la carrera de ing.sistemas  -->
                     ,tengo 19 años y me encanta
                      este mundo de la WEB y el desarrollo de apps en general.</p></div>
                </div>
                <div class="sobremiparticipaciones">
                    <h2 class="titlecerficaciones">Certificaciones y Participaciones</h2>
                </div>
                <div class="sobremiparticipaciones">
                  <div class="containerparticipaciones">

                  <!-- contenido de certificaciones -->

                    <!-- <div class="certificados" v-for="a in certificados">
                      <div class="containerimgcertifications">
                        <img class="imgcertifications"
                             v-bind:src="a.imagemodal"
                             v-on:click="modalactive='enablemodal', imagemodal=a.imagemodal">
                        <div class="irlink">
                          <a class="linkircertifcado" v-bind:href="a.linkmodal">Ir</a>
                        </div>
                      </div>
                      <div>
                        {{a.titlemodal}}
                      </div>
                    </div> -->

                  <!-- contenido de certificaciones -->

                    <!-- modal sobre mi -->
                    <div class="modalimg" v-bind:class="{'modalenable':modalactive=='enablemodal',
                                                         'modaldisable':modalactive=='disablemodal',
                                                      }">
                      <span class="btncross icon-cross" v-on:click="modalactive='disablemodal'"></span>
                      <div class="containerimgmodal">
                        <img v-bind:src="imagemodal" alt="" width="100%">
                      </div>
                    </div>
                    <!-- modal sobre mi -->

                  </div>
                </div>
            </div>

            <!--contenido de habilidad-->
            <div class="nhabilidad containercontenido" v-if="cambiarcontenido=='nhabilidad'">
                <div class="containerhabiliti">
					<h1 class="titlehability">Mis Habilidades</h1>
					<img class="imgprofesional" src="img/habilidades/profesional.png" alt="">
					<p class="txthabilidad">En el transcurso de este tiempo e adquirido
						 ciertos dominios con tecnologias web frontend ,
							diseño gráfico y multimedia en el cual me han
							 ayudado a crecer como freelance.</p>
							<ul class="ulhabilidad">
								<li class="listsahabilidad"
									 v-bind:class="{'activatehabi':cambiarhabilidad=='htodo'}"
									 v-on:click="cambiarhabilidad='htodo'">
									Ver todo
								</li>
								<li class="listsahabilidad"
									v-bind:class="{'activatehabi':cambiarhabilidad=='hprogramacion'}"
									v-on:click="cambiarhabilidad='hprogramacion'">
									Desarrollo web
								</li>
								<li class="listsahabilidad"
									v-bind:class="{'activatehabi':cambiarhabilidad=='hdiseño'}"
									v-on:click="cambiarhabilidad='hdiseño'">
									Diseño
								</li>
								<li class="listsahabilidad"
									v-bind:class="{'activatehabi':cambiarhabilidad=='hmultimedia'}"
									v-on:click="cambiarhabilidad='hmultimedia'">
									Multimedia
								</li>
							</ul>
							<div class="containerbarra">
								<div class="bargridlist">
									<img
										class="gridlist"
										src="img/cuadriculablanco.png"
										v-bind:class="{'activatevista':vista=='conticonhabilidadcuadricula'}"
										v-on:click="vista='conticonhabilidadcuadricula'">
									<img
										class="gridlist"
										src="img/listablanco.png"
										v-bind:class="{'activatevista':vista=='conticonhabilidad'}"
										v-on:click="vista='conticonhabilidad'">
									<p class="txtlisgrid">cambia de vista</p>
								</div>
							</div>
							<!-- todo habilidadddd----------- -->

							<div class="conthabailidades htodo" v-if="cambiarhabilidad=='htodo'">

								<!-- vistacuadricula -->
								<div class="conticonhabilidadcuadricula" v-if="vista=='conticonhabilidadcuadricula'" >
									<div class="cuadiconhabilidad" v-for="a in allhabilidad">
											<img class="iconoshabilidadcuadricula" v-bind:src="a.image.imagecuadricula" alt="">
									</div>
								</div>
								<!-- vista lista -->
								<div class="conticonhabilidad" v-if="vista=='conticonhabilidad'" >
									<div class="lisiconhabilidad" v-for="a in allhabilidad">
										<div class="contimghabilidad">
											<img class="iconoshabilidad" v-bind:src="a.image.imagecuadricula" alt="">
										</div>
										<div class="listxtinfo">
											<h1 class="titleimagenhabilidad">{{a.title}}</h1>
											<p>{{a.description}}</p>
										</div>
									</div>
								</div>
							</div>
							<!-- programacionweb------------------------ -->
							<div class="conthabailidades hprogramacion" v-if="cambiarhabilidad=='hprogramacion'">
								<div class="conticonhabilidadcuadricula" v-if="vista=='conticonhabilidadcuadricula'" >
									<div class="cuadiconhabilidad" v-for="a in programacionweb">
											<img class="iconoshabilidadcuadricula" v-bind:src="a.image.imagecuadricula" alt="">
									</div>

								</div>
								<!-- vista lista -->
								<div class="conticonhabilidad" v-if="vista=='conticonhabilidad'" >
									<div class="lisiconhabilidad" v-for="a in programacionweb">
										<div class="contimghabilidad">
											<img class="iconoshabilidad" v-bind:src="a.image.imagecuadricula" alt="">
										</div>
										<div class="listxtinfo">
											<h1 class="titleimagenhabilidad">{{a.title}}</h1>
											<p>{{a.description}}</p>
										</div>
									</div>
								</div>
							</div>
							<!-- habilidad  en diseño grafico------------ -->
							<div class="conthabailidades hdiseño" v-if="cambiarhabilidad=='hdiseño'">
								<div class="conticonhabilidadcuadricula" v-if="vista=='conticonhabilidadcuadricula'" >
									<div class="cuadiconhabilidad" v-for="a in sobrediseño">
											<img class="iconoshabilidadcuadricula" v-bind:src="a.image.imagecuadricula" alt="">
									</div>

								</div>
								<!-- vista lista -->
								<div class="conticonhabilidad" v-if="vista=='conticonhabilidad'" >
									<div class="lisiconhabilidad" v-for="a in sobrediseño">
										<div class="contimghabilidad">
											<img class="iconoshabilidad" v-bind:src="a.image.imagecuadricula" alt="">
										</div>
										<div class="listxtinfo">
											<h1 class="titleimagenhabilidad">{{a.title}}</h1>
											<p>{{a.description}}</p>
										</div>
									</div>
								</div>
				        </div>
				    <!-- habilidades sobre multimediaaaa---- -->
    				     <div class="conthabailidades hmultimedia" v-if="cambiarhabilidad=='hmultimedia'">
    				        <div class="conticonhabilidadcuadricula" v-if="vista=='conticonhabilidadcuadricula'" >
    				            <div class="cuadiconhabilidad" v-for="a in sobremultimedias">
    								<img class="iconoshabilidadcuadricula" v-bind:src="a.image.imagecuadricula" alt="">
    				            </div>
    				        </div>
    				        <!-- vista lista -->
    				        <div class="conticonhabilidad" v-if="vista=='conticonhabilidad'" >
    				            <div class="lisiconhabilidad" v-for="a in sobremultimedias">
    								    <div class="contimghabilidad">
    								        <img class="iconoshabilidad" v-bind:src="a.image.imagecuadricula" alt="">
    								    </div>
    								<div class="listxtinfo">
    								    <h1 class="titleimagenhabilidad">{{a.title}}</h1>
    								    <p>{{a.description}}</p>
    								</div>
    				            </div>
    				        </div>
    				    </div>
    				  </div>
            </div>
            <!-- todo sobre portafolio ------ -->
            <div class="nportafolio containercontenido" v-if="cambiarcontenido=='nportafolio'">
              <div>
                <h1 class="titleportafolios">Una persona es más valiosa teniendo un portafolio , demuestra lo que sabe hacer 'google'.</h1>
                <p class="txtportafolio">Conoce mis trabajos</p>
              </div>
              <div>
                <div class="headerportafolios">
                  <ul class="ulporfaloio">
                    <li class="optionsportafolios"
                               v-bind:class="{'activeportafolio':cambiarportafolio=='portafolioweb'}"
                               v-on:click="cambiarportafolio='portafolioweb'" >
                      desarrollo web
                    </li>
                    <li class="optionsportafolios"
                               v-bind:class="{'activeportafolio':cambiarportafolio=='portafoliografico'}"
                               v-on:click="cambiarportafolio='portafoliografico'" >
                      diseño grafico
                    </li>
                    <li class="optionsportafolios"
                               v-bind:class="{'activeportafolio':cambiarportafolio=='portafoliomultimedia'}"
                               v-on:click="cambiarportafolio='portafoliomultimedia'" >
                      diseño multimedia
                    </li>
                  </ul>
                </div>
                <!-- portafolio web******** -->
                <div class="contenidoportafolio portafolioweb" v-if="cambiarportafolio=='portafolioweb'">
                  <!-- contenido portafolio web  -->
                  <div class="portafoliowebcontenido" v-for="a in portafolioweb">
                    <div class="containerimgportafolio">
                      <img class="imgportafolio" src="img/portafolio/sitiowebone.png" v-bind:src="a.imagemodalportafolio"
                      v-on:click="modalactive='enablemodal', imagemodal=a.imagemodalportafolio">
                    </div>
                    <div>
                      {{a.titlemodalportafolio}}
                    </div>
                  </div>
                  <!-- fin contenido portafolio web  -->

                </div>
                <!-- portafolio grafico /*//** -->
                <div class="contenidoportafolio portafoliografico" v-if="cambiarportafolio=='portafoliografico'">
                  <div class="portafoliowebcontenidos" v-for="a in portafoliografico">
                    <div class="containerimgportafolios">
                      <img class="imgportafolio" src="img/portafolio/sitiowebone.png" v-bind:src="a.imagemodalportafolio"
                      v-on:click="modalactive='enablemodal', imagemodal=a.imagemodalportafolio">
                    </div>
                    <div>
                      {{a.titlemodalportafolio}}
                    </div>
                  </div>
                </div>
                <!-- portafolio multimediaaaaaa -->
                <div class="contenidoportafolio portafoliomultimedia" v-if="cambiarportafolio=='portafoliomultimedia'">

                </div>
              </div>
              <!-- modal sobre portafolio -->
              <div class="modalimg" v-bind:class="{'modalenable':modalactive=='enablemodal',
                                                   'modaldisable':modalactive=='disablemodal',
                                                }">
                <span class="btncross icon-cross" v-on:click="modalactive='disablemodal'"></span>
                <div class="containerimgmodalportafolio">
                  <img v-bind:src="imagemodal" alt="" width="100%">
                </div>
              </div>
              <!-- modal sobre portafolio -->
            </div>
            <div class="nblog containercontenido" v-if="cambiarcontenido=='nblog'">
            EN DESARROLLO . . . .
            </div>
        </div>
    </div>


   <script src="js/preloader.js"></script>
   <script src="js/vue.js"></script>
   <script  src="js/index.js"></script>
</body>
</html>
